extends ../layout

block content
	.container-fluid
		#details-container
			#banner-photo
			#detail.col-md-6
				p Name
				p rating
				p location
				p hours
				p map
				p link
			#map.col-md-6
			