extends ../layout

block content
	.container-fluid
		#details-container
			.row
				#banner-photo
			.row
				#detail.col-md-6
					p Name
					p rating
					p location
					p hours
					p link
				#map.col-md-6
					p reviews
			.row
				p maps
			