extends ../layout

block content
<<<<<<< HEAD
	.container-fluid
		#itinerary-container
			h1 One Day in #{searchTerm}
			ul.list-group.no-dot
				a(href="/itinerary/detail").div-link
					li.row.event-entry
						.col-md-10.event-text
							img(src="fonts/food.png").event-icon
							br
							span Chiptole
							span.fa.fa-star
							span.fa.fa-star
							span.fa.fa-star
							span.fa.fa-star-half-o
							span.fa.fa-star-o
							br
							span 528 E Green St #101 Champaign, IL
						.col-md-2.event-arrow-container
							span.fa.fa-angle-right.event-arrow
				a(href="/itinerary/detail").div-link
					li.row.event-entry
						.col-md-10.event-text
							p NAME | Location | Reviews
						.col-md-2.event-arrow-container
							span.fa.fa-angle-right.event-arrow
				a(href="/itinerary/detail").div-link
					li.row.event-entry
						.col-md-10.event-text
							p NAME | Location | Reviews
						.col-md-2.event-arrow-container
							span.fa.fa-angle-right.event-arrow
				a(href="/itinerary/detail").div-link
					li.row.event-entry
						.col-md-10.event-text
							p NAME | Location | Reviews
						.col-md-2.event-arrow-container
							span.fa.fa-angle-right.event-arrow
				a(href="/itinerary/detail").div-link
					li.row.event-entry
						.col-md-10.event-text
							p NAME | Location | Reviews
						.col-md-2.event-arrow-container
							span.fa.fa-angle-right.event-arrow
=======
	#itinerary-container
		h1 One Day in #{searchTerm}
		ul.list-group.no-dot
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						img(src="fonts/food.png").event-icon
						br
						span #{brunchPlace.name}
						span.fa.fa-star
						span.fa.fa-star
						span.fa.fa-star
						span.fa.fa-star-half-o
						span.fa.fa-star-o
						br
						span #{brunchPlace.location}
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
>>>>>>> dev
