extends ../layout

block content
	#itinerary-container
		h1 One Day in "CITY NAME"
		ul.list-group.no-dot
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Reviews
						p Location
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow
			a(href="/itinerary/detail").div-link
				li.row.event-entry
					.col-md-10.event-text
						p NAME | Location | Reviews
					.col-md-2.event-arrow-container
						span.fa.fa-angle-right.event-arrow