extends ../layout

block content
	.container-fluid.onboard-wrap
		form#msform
			ul#progressbar
				li.active Step 1
				li.active Step 2
				li.active Step 3
				li.active Step 4
			fieldset
				h2.fs-title Step 1
				h3.fs-subtitle What food do you want to eat?
				input(type='text', name='email', placeholder='Email')
				input(type='password', name='pass', placeholder='Password')
				input(type='password', name='cpass', placeholder='Confirm Password')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 2
				h3.fs-subtitle What do you want to spend the afternoon doing?
				input(type='text', name='name')
				a(href='http://www.jqueryscript.net/tags.php?/twitter/') twitter
				| " placeholder="Twitter" /
				input(type='text', name='facebook', placeholder='placeholder')
				a(href='http://www.jqueryscript.net/tags.php?/Facebook/') Facebook
				| " /
				input(type='text', name='gplus', placeholder='Google Plus')
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 3
				h3.fs-subtitle How much are you willing to spend on your day?
				input(type='text', name='fname', placeholder='First Name')
				input(type='text', name='lname', placeholder='Last Name')
				input(type='text', name='phone', placeholder='Phone')
				textarea(name='address', placeholder='Address')
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 4
				h3.fs-subtitle How will you be traveling?
				button(type='btn', name='walk', placeholder='First Name')
				button(type='btn', name='drive', placeholder='Last Name')
				button(type='btn', name='public', placeholder='Phone')
				textarea(name='address', placeholder='Address')
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.submit.action-button(type='submit', name='submit', value='Submit')

