extends ../layout

block content
	.container-fluid.onboard-wrap
		form#msform
			ul#progressbar
				li.active Step 1
				li.active Step 2
				li.active Step 3
				li.active Step 4
			fieldset
				h2.fs-title Step 1
				h3.fs-subtitle Let us help you plan your perfect day. Click next to give us your preferences.
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 2
				h3.fs-subtitle What food do you like?
				input(type='text', name='name')
				input(type='text', name='facebook', placeholder='placeholder')
				input(type='text', name='gplus', placeholder='Google Plus')
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 3
				h3.fs-subtitle Your house is on fire. What do you grab first?
				button.btn.btn-default.form-btn Your Shoes
				br
				button.btn.btn-default.form-btn Your face
				br
				button.btn.btn-default.form-btn Your dog
				br
				//- input(type='text', name='fname', placeholder='First Name')
				//- input(type='text', name='lname', placeholder='Last Name')
				//- input(type='text', name='phone', placeholder='Phone')
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 4
				h3.fs-subtitle How do you like to get there?
				button(type='btn', name='walk', placeholder='First Name')
				button(type='btn', name='drive', placeholder='Last Name')
				button(type='btn', name='public', placeholder='Phone')
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.submit.action-button(type='submit', name='submit', value='Submit')

