extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    legend.centered Signup
    .col-md-4
    .col-md-4
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        label.control-label(for='confirmPassword') Confirm Password
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
      .form-group
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Signup
    .col-md-4