extends layout_home

block content
  .login-wrap.container-fluid
    form
      legend.centered.login-cont Our Team
      p.centered.slogan-text 
        a(href="mailto:allenz456@gmail.com") Allen Zeng
      p.centered.slogan-text 
        a(href="mailto:basilhuang2014@u.northwestern.edu") Basil Huang
      p.centered.slogan-text 
        a(href="mailto:brittanylee2015@u.northwestern.edu") Brittany Lee
      p.centered.slogan-text 
        a(href="mailto:kevinchen2016@u.nortwestern.edu") Kevin Chen
      br
