extends layout_home

block content
	#home-container
		.container-fluid
			.row#home-row
				.col-md-4
				.col-md-4#search-container
					h1 one day in...
					script(type='text/javascript')
						function Out() {$('body').empty();$('body').append("<img src='./public/img/loader.gif'");}
					form(method="POST", action='/itinerary', onsubmit="Out()")
						input(type='hidden', name='_csrf', value=_csrf)
						.input-group
							input#search-term.form-control(type="text", placeholder="type a city name", name="city")
							.input-group-btn
								button.btn.btn-default(type="submit")
									i.fa.fa-search
				.col-md-4